<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product Validation</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Loading Spinner
    <div class="spinner-overlay" id="spinner" style="display: none;">
        <div class="spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->

    <div class="container">
        <h1 class="text-center mt-4">Product Validation</h1>

        <!-- Top Search Section for Main Inventory -->
        <div class="search-section-top">
            <form id="top-search-form" class="form-inline justify-content-center">
                <div class="form-group mb-2">
                    <label for="top-search-term" class="sr-only">Search Inventory</label>
                    <input type="text" class="form-control" id="top-search-term" placeholder="Search Main Inventory"
                        required>
                </div>
                <button type="submit" class="btn btn-secondary mb-2 ml-2">Search Inventory</button>
            </form>
        </div>

        <!-- Main Product Information -->
        <div id="main-product-info" class="mt-4 card">
            <div class="card-body">
                <h3 class="text-center">Main Product Information</h3>
                <h4 class="font-weight-bold text-center">{{ current_product_record.product_name }}</h4>
                <div class="text-center">
                    <img src="{{ current_product_record.image_url }}" alt="Main Product Image"
                        class="product-image mb-3" data-toggle="modal" data-target="#imageModal">
                </div>
                <div class="form-group">
                    <label for="main-product-name">Product Name:</label>
                    <input type="text" id="main-product-name" class="form-control"
                        value="{{ current_product_record.product_name }}">
                </div>
                <div class="form-group">
                    <label for="main-description">Description:</label>
                    <textarea id="main-description" class="form-control"
                        rows="3">{{ current_product_record.description | striptags }}</textarea>
                </div>
                <div class="form-group">
                    <label for="main-brand-name">Brand:</label>
                    <input type="text" id="main-brand-name" class="form-control"
                        value="{{ current_product_record.brand_name }}">
                </div>
                <div class="form-group">
                    <label for="main-product-category">Product Category:</label>
                    <input type="text" id="main-product-category" class="form-control"
                        value="{{ current_product_record.product_category }}">
                </div>
                <div class="form-group">
                    <label for="main-price">Price (R):</label>
                    <div class="input-group">
                        <input type="number" step="0.01" id="main-price" class="form-control"
                            value="{{ current_product_record.retail_price }}">
                        <div class="input-group-append">
                            <button id="copy-price-btn" class="btn btn-outline-secondary">Copy Selected</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="main-sku">SKU:</label>
                    <input type="text" id="main-sku" class="form-control" value="{{ current_product_record.sku }}">
                </div>
                <div class="form-group">
                    <label for="main-barcode">Barcode:</label>
                    <input type="text" id="main-barcode" class="form-control" value=""
                        placeholder="Enter Barcode Manually">

                </div>
                <!-- Additional fields as needed -->
                <button id="save-changes-btn" class="btn btn-success">Save Changes</button>
                <button id="revert-changes-btn" class="btn btn-warning">Revert Changes</button>
            </div>
        </div>

        <!-- Search Section for PnP and Checkers -->
        <div class="row mt-3">
            <div class="col text-center">
                <form id="dropdown-search-form" class="form-inline justify-content-center">
                    <div class="form-group mb-2">
                        <label for="search-term" class="sr-only">Search Term</label>
                        <input type="text" class="form-control" id="search-term" placeholder="Enter product name">
                    </div>
                    <button type="submit" class="btn btn-secondary mb-2 ml-2">Search</button>
                    <button type="button" id="show-top-suggestions-btn" class="btn btn-info btn-sm mb-2 ml-2">Show Top
                        Suggestions</button>
                </form>
            </div>
        </div>

        <!-- Side-by-Side Product Comparison -->
        <div class="row mt-2">
            <!-- PnP Section -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>PnP Products</h3>
                        <!-- Dropdown and Product Details -->
                        <select id="pnp-dropdown" class="form-control">
                            <!-- Options -->
                        </select>
                        <!-- Product Details -->
                        <div id="pnp-product-details" class="product-card">
                            <!-- Spinner -->
                            <div class="product-spinner" style="display: none;">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <!-- Product details will be displayed here -->
                        </div>
                        <!-- Price Difference -->
                        <div id="pnp-price-difference" class="price-difference mt-2" style="display: none;">
                            <strong>Price Difference:</strong> <span id="pnp-price-diff-value"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Checkers Section -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Checkers Products</h3>
                        <!-- Dropdown and Product Details -->
                        <select id="checkers-dropdown" class="form-control">
                            <!-- Options -->
                        </select>
                        <!-- Product Details -->
                        <div id="checkers-product-details" class="product-card">
                            <!-- Spinner -->
                            <div class="product-spinner" style="display: none;">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <!-- Product details will be displayed here -->
                        </div>
                        <!-- Price Difference -->
                        <div id="checkers-price-difference" class="price-difference mt-2" style="display: none;">
                            <strong>Price Difference:</strong> <span id="checkers-price-diff-value"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Deeliver Section -->
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Deeliver Products</h3>
                        <!-- Dropdown and Product Details -->
                        <select id="deeliver-dropdown" class="form-control">
                            <!-- Options -->
                        </select>
                        <!-- Product Details -->
                        <div id="deeliver-product-details" class="product-card">
                            <!-- Spinner -->
                            <div class="product-spinner" style="display: none;">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <!-- Product details will be displayed here -->
                        </div>
                        <!-- Price Difference -->
                        <div id="deeliver-price-difference" class="price-difference mt-2" style="display: none;">
                            <strong>Price Difference:</strong> <span id="deeliver-price-diff-value"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Image Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" id="modal-image" class="modal-img" alt="Product Image">
                    </div>
                </div>
            </div>
        </div>

        <!-- Include JavaScript files -->
        <!-- Define global variables for scripts.js -->
        <script type="text/javascript">
            var pnpFetchProductDetailsUrl = "{{ url_for('pnp.fetch_barcode') }}";
            var pnpSearchUrl = "{{ url_for('pnp.search') }}";
            var checkersFetchDetailsUrl = "{{ url_for('checkers.fetch_details') }}";
            var checkersSearchUrl = "{{ url_for('checkers.search') }}";
            var processProductUrl = "{{ url_for('main.process_product') }}";
            var deeliverSearchUrl = "{{ url_for('deeliver.search') }}";
            var deeliverFetchDetailsUrl = "{{ url_for('deeliver.fetch_details') }}"; <!-- Add this line -->

            window.initialProductName = "{{ current_product_record.product_name | escape }}";
            window.initialDescription = "{{ current_product_record.description | striptags | escape }}";
            window.initialBrandName = "{{ current_product_record.brand_name | escape }}";
            window.initialProductCategory = "{{ current_product_record.product_category | escape }}";
            window.initialPrice = "{{ current_product_record.retail_price | escape }}";
        </script>
        <!-- Include jQuery first -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- Include Bootstrap JS and dependencies -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>